#title{
    background-color:rgb(39, 39, 39); 
    padding: 1% 0%;
    /* height: 55px; */
}

.titleIcon{
    width:38px; 
    margin-left:11%
}

#titleSubText{
    font-size: 0.7vw; 
    color:white; 
    margin-left:16%; 
    margin-top:-6px
}
#fillData{
    background-color:rgb(56, 23, 23);
}
.selectTab{
    padding:0px;
}
#titleText{
    color:white; 
    font-weight: bolder; 
    font-size: 2.1vw; 
    margin-left:1%
}
#datePicker{
    margin:0px;
    max-width: 80%;
}

#colTwo{
    padding:0px;
}

#noDataDisplay{
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    max-height: 100%; max-width:100%
}
.buttonAlign{
    text-align:center
}
#searchButton{
    background-color:rgb(192, 57, 8); 
    color:white; 
    border: 0px;
    position: absolute;
    width:33%;
    padding: 2px;
}
#inputDatePicker{
    background:white; 
    height:33px; 
    border-radius: 4px
}
#fDetails :hover{
    cursor:pointer;
    background-color: #e2e2e2
}
#fDetails{
    /* margin-top:3%; 
    height:162px;
    padding-left: 24px; */
    padding:2%; 
    /* width:100%; */
}

#stylingForParentDiv{
    padding:2%; 
    border:1px solid#e0dede;
    /* width:80%; */

}
#divForPrice{
    font-weight:bold;
}
#divForFlightName{
    font-weight:bold; 
    margin-left:14%;
}
#textColor{
    color:red
}
.textFont{
    font-size:1vw;
}
#textAlignForCode{
    margin-left:14%;
}
.bookingButton{
    background: #ff0000;
    border:0px;
}

.bookingButton :hover{
    background:#ff0000;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    height: 33px;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .mat-form-field-appearance-legacy .mat-form-field-wrapper{
      padding-bottom: 0px !important;
  }
  
  .container {
    padding: 14%;
  }
  
  .col-75 {
    float: left;
    width: 80%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row{
      margin-left:-1px !important;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

.noData{
    padding:5%; 
    height: 100%
}

  /* entire container, keeps perspective */
.turn-container {
    perspective: 1000px;
    display: inline-block; 
    margin:15px;
}
	/* flip the pane when hovered */
.turn-container:hover .imageTurn, .turn-container.hover .imageTurn {
    transform: rotateY(180deg);
}

.turn-container, .front, .back {
	width: 200px;
     height: 200px;
}

/* flip speed goes here */
.imageTurn {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.turn-container:hover .imageTurn, .turn-container.hover .imageTurn, .turn-container.flip .imageTurn {
	transform: rotateY(180deg);
}

.vertical.turn-container {
	position: relative;
}

.vertical .back {
    transform: rotateX(180deg);
}

.vertical.turn-container .imageTurn {
    transform-origin: 100% 213.5px; /* half of height */
}

.vertical.turn-container:hover .imageTurn {
    transform: rotateX(-180deg);
}

.flipImage{
    width:200px;
    height:200px;
}

.item-1, 
.item-2, 
.item-3 {
    position: absolute;
    display: block;
    top: 2em;
    font-size: 2em;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    width:400px; 
    height:200px
}

.item-1{
    animation-name: anim-1;
}

.item-2{
    animation-name: anim-2;
}

.item-3{
    animation-name: anim-3;
}

@keyframes anim-1 {
    0%, 8.3% { left: -100%; opacity: 0; }
    8.3%,25% { left: 25%; opacity: 1; }
    33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
    0%, 33.33% { left: -100%; opacity: 0; }
    41.63%, 58.29% { left: 25%; opacity: 1; }
    66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
    0%, 66.66% { left: -100%; opacity: 0; }
    74.96%, 91.62% { left: 25%; opacity: 1; }
    100% { left: 110%; opacity: 0; }
}